body{
    width: 390px;
    height: 450px;
}
.heading-style{
    font-size: 17px;
    text-align: center;
}
.custom-navbar{
    background:#3f51b5;
}
nav {
    height: 60px!important;
}
.heading-rows{
    font-size: 13.7px;
}
table{
    font-size: 14.5px;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}